<!DOCTYPE html>
<html lang="en" ng-app="faasApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <!-- Compiled and minified CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='app.js')}}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <title>FAAS</title>
</head>
<body ng-controller="faasCtrl">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand">
            <img src="https://img.icons8.com/nolan/48/fire-element.png">
            <div class="d-inline lead justify-center" style="
                vertical-align: middle;
                color: #bcb8d2;
                font-weight: bolder;
            ">Hello, human!</div>
        </a>
      </nav>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="">
                    <div class="jumbotron mb-0">
                        <h1 class="display-3 font-weight-bold">IASS</h1><span class="h5 font-weight-bold">Insults As A Service</span>
                        <span style="font-size: x-small;color: grey;"> - V0.6.3</span>
                        <p class="lead "> <br>This gives you a modern, scalable, RESTful solution to the common problem of telling people to get lost.</p>
                        <hr class="my-3">
                        <!-- <p>We couldn't wrap our heads around the fact that it's 2020 and we don't have a quick way to satisfy ourselves with quick insults. We decided to do the needful.</p> -->
                        <blockquote class="blockquote">
                            <p class="mb-0">This site is unapologetically mean. If you're offended, well, I couldn't care less.</p>
                            <footer class="blockquote-footer"><cite title="Source Title">The one who built this </cite></footer>
                        </blockquote>
                        <!-- <p class="lead"> -->
                          <!-- <a class="btn btn-dark btn-lg" href="#" role="button">Learn more</a> -->
                        <!-- </p> -->
                      </div>
                </div>
            </div>
        </div>
        <div class="row bg-light pt-3 px-3">
            <div class="col-xs-12">
                <div class="">
                    <div><div class="h3">Okay, here's the drill!</div>
                    <ol class="lead">
                        <li>Select a keyword/phrase.</li>
                        <li>Enter what's asked.</li>
                        <li>Click I'm Ready!</li>
                    </ol></div>
                </div>
                
            </div>
        </div>
        <div class="row bg-light py-3 px-3">
            <div class="col-xs-12 w-100">
                <a ng-bind="kwBtnText" class="btn btn-info w-100" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    
                </a>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        
                        <div class="list-group" style="max-height: 30vh; overflow-y: scroll;">
                            <a ng-repeat="x in keywords" href="#" class="list-group-item list-group-item-action" ng-click="setKeyword(x)" data-toggle="collapse" data-target="#collapseExample">
                                {:x:}
                            </a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bg-light pb-3 px-3">
            <div class="col-xs-12 w-100">
                <div class="input-group mb-3">
                    <!-- <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">@</span>
                    </div> -->
                    <input ng-repeat="i in argPlaceholder" ng-model="argList[$index + 1]" type="text" class="form-control" placeholder="{:i:}" aria-label="{:i:}">
                </div>
                <div class="col-xs-12 w-100">
                    <a ng-click="setArgs()" ng-bind="InBtnText" class="text-white btn btn-success w-100" role="button" >
                        
                    </a>
                </div>
            </div>
        </div>
        <div class="row insultRow d-none" style="height: 100vh;">
        <div class="insultCnt">
            <div class="">
                <div class="container icontainer">
                <!-- <h1 class="display-4"></h1> -->
                    <p class="lead itext" ng-bind="insult"></p>
                </div>
          </div>
        </div>
        </div>  

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>